
<form role="form" name="vm.form" novalidate="novalidate" class="form">
  <div class="row">
    <div class="col-md-3 col-xs-12">
      <div data-ng-class="{'has-error': vm.form.zip.$dirty &amp;&amp; (vm.form.zip.$error.required || vm.form.zip.$error.pattern || vm.form.zip.$error.maxlength || vm.form.zip.$error.inexistent), 'has-success': vm.form.zip.$dirty &amp;&amp; vm.form.zip.$valid}" class="form-group has-feedback">
        <label for="{{vm.text.zip.name}}" data-ng-bind="vm.text.zip.label" data-ng-show="vm.form.zip.$pristine || vm.form.zip.$valid" class="control-label"></label>
        <label for="{{vm.text.zip.name}}" data-ng-bind="vm.text.zip.validation.required" data-ng-show="vm.form.zip.$dirty &amp;&amp; vm.form.zip.$error.required" class="control-label"></label>
        <label for="{{vm.text.zip.name}}" data-ng-bind="vm.text.zip.validation.invalid" data-ng-show="vm.form.zip.$dirty &amp;&amp; (vm.form.zip.$error.pattern || vm.form.zip.$error.maxlength)" class="control-label"></label>
        <label for="{{vm.text.zip.name}}" data-ng-bind="vm.text.zip.validation.inexistent" data-ng-show="vm.form.zip.$dirty &amp;&amp; vm.form.zip.$error.inexistent" class="control-label"></label>
        <input type="text" id="{{vm.text.zip.name}}" name="zip" placeholder="{{vm.text.zip.placeholder}}" maxlength="5" size="5" data-ng-model="vm.address.zip" data-ng-pattern="/\d{5}/" data-ng-maxlength="5" data-ng-change="vm.geoZip(vm.address.zip)" required="required" class="form-control"/><span data-ng-show="vm.form.zip.$dirty &amp;&amp; vm.form.zip.$valid" class="form-control-feedback"><i class="fa fa-check"></i></span><span data-ng-show="vm.form.zip.$dirty &amp;&amp; vm.form.zip.$invalid" class="form-control-feedback"><i class="fa fa-times"></i></span>
      </div>
    </div>
    <div class="col-md-3 col-xs-12">
      <div data-ng-class="{'has-error': vm.form.state.$dirty &amp;&amp; vm.form.state.$error.required, 'has-success': vm.form.state.$dirty &amp;&amp; vm.form.state.$valid}" class="form-group has-feedback">
        <label for="{{vm.text.state.name}}" data-ng-bind="vm.text.state.label" data-ng-show="vm.form.state.$pristine || vm.form.state.$valid" class="control-label"></label>
        <label for="{{vm.text.type.name}}" data-ng-bind="vm.text.state.validation.required" data-ng-show="vm.form.state.$dirty &amp;&amp; vm.form.state.$error.required" class="control-label"></label>
        <select id="{{vm.text.state.name}}" name="state" data-ng-model="vm.address.state" data-ng-options="s.name as s.name for s in vm.states" data-ng-change="vm.getMunicipalities(vm.address.state)" required="required" class="form-control">
          <option value="" data-ng-bind="vm.text.state.options.default" selected="selected"></option>
        </select><span data-ng-show="vm.form.state.$dirty &amp;&amp; vm.form.state.$valid" class="form-control-feedback"><i class="fa fa-check"></i></span><span data-ng-show="vm.form.state.$dirty &amp;&amp; vm.form.state.$invalid" class="form-control-feedback"><i class="fa fa-times"></i></span>
      </div>
    </div>
    <div class="col-md-3 col-xs-12">
      <div data-ng-class="{'has-error': vm.form.municipality.$dirty &amp;&amp; vm.form.municipality.$error.required, 'has-success': vm.form.municipality.$dirty &amp;&amp; vm.form.municipality.$valid}" class="form-group has-feedback">
        <label for="{{vm.text.municipality.name}}" data-ng-bind="vm.text.municipality.label" data-ng-show="vm.form.municipality.$pristine || vm.form.municipality.$valid" class="control-label"></label>
        <label for="{{vm.text.type.name}}" data-ng-bind="vm.text.municipality.validation.required" data-ng-show="vm.form.municipality.$dirty &amp;&amp; vm.form.municipality.$error.required" class="control-label"></label>
        <select id="{{vm.text.municipality.name}}" name="municipality" data-ng-model="vm.address.municipality" data-ng-options="m.name as m.name for m in vm.municipalities" data-ng-change="vm.getDistricts(vm.address)" required="required" class="form-control">
          <option value="" data-ng-bind="vm.text.municipality.options.default" selected="selected"></option>
        </select><span data-ng-show="vm.form.municipality.$dirty &amp;&amp; vm.form.municipality.$valid" class="form-control-feedback"><i class="fa fa-check"></i></span><span data-ng-show="vm.form.municipality.$dirty &amp;&amp; vm.form.municipality.$invalid" class="form-control-feedback"><i class="fa fa-times"></i></span>
      </div>
    </div>
    <div class="col-md-3 col-xs-12">
      <div data-ng-class="{'has-error': vm.form.district.$dirty &amp;&amp; vm.form.district.$error.required, 'has-success': vm.form.district.$dirty &amp;&amp; vm.form.district.$valid}" class="form-group has-feedback">
        <label for="{{vm.text.district.name}}" data-ng-bind="vm.text.district.label" data-ng-show="vm.form.district.$pristine || vm.form.district.$valid" class="control-label"></label>
        <label for="{{vm.text.type.name}}" data-ng-bind="vm.text.district.validation.required" data-ng-show="vm.form.district.$dirty &amp;&amp; vm.form.district.$error.required" class="control-label"></label>
        <select id="{{vm.text.district.name}}" name="district" data-ng-model="vm.address.district" data-ng-options="s.name as s.name for s in vm.districts" data-ng-change="vm.getZip(vm.address)" required="required" class="form-control">
          <option value="" data-ng-bind="vm.text.district.options.default" selected="selected"></option>
        </select><span data-ng-show="vm.form.district.$dirty &amp;&amp; vm.form.district.$valid" class="form-control-feedback"><i class="fa fa-check"></i></span><span data-ng-show="vm.form.district.$dirty &amp;&amp; vm.form.district.$invalid" class="form-control-feedback"><i class="fa fa-times"></i></span>
      </div>
    </div>
    <div class="col-md-3 col-xs-12">
      <div data-ng-class="{'has-error': vm.form.street.$dirty &amp;&amp; vm.form.street.$error.required, 'has-success': vm.form.street.$dirty &amp;&amp; vm.form.street.$valid}" class="form-group has-feedback">
        <label for="{{vm.text.street.name}}" data-ng-bind="vm.text.street.label" data-ng-show="vm.form.street.$pristine || vm.form.street.$valid" class="control-label"></label>
        <label for="{{vm.text.street.name}}" data-ng-bind="vm.text.street.validation.required" data-ng-show="vm.form.street.$dirty &amp;&amp; vm.form.street.$error.required" class="control-label"></label>
        <input type="text" id="{{vm.text.street.name}}" name="street" placeholder="{{vm.text.street.placeholder}}" data-ng-model="vm.address.street" data-ng-blur="vm.geoStreet(vm.address)" required="required" class="form-control"/><span data-ng-show="vm.form.street.$dirty &amp;&amp; vm.form.street.$valid" class="form-control-feedback"><i class="fa fa-check"></i></span><span data-ng-show="vm.form.street.$dirty &amp;&amp; vm.form.street.$invalid" class="form-control-feedback"><i class="fa fa-times"></i></span>
      </div>
    </div>
    <div class="col-md-3 col-xs-12">
      <div data-ng-class="{'has-error': vm.form.number.$dirty &amp;&amp; vm.form.number.$error.required, 'has-success': vm.form.number.$dirty &amp;&amp; vm.form.number.$valid}" class="form-group has-feedback">
        <label for="{{vm.text.number.name}}" data-ng-bind="vm.text.number.label" data-ng-show="vm.form.number.$pristine || vm.form.number.$valid" class="control-label"></label>
        <label for="{{vm.text.number.name}}" data-ng-bind="vm.text.number.validation.required" data-ng-show="vm.form.number.$dirty &amp;&amp; vm.form.number.$error.required" class="control-label"></label>
        <input type="text" id="{{vm.text.number.name}}" name="number" placeholder="{{vm.text.number.placeholder}}" data-ng-model="vm.address.number" data-ng-blur="vm.geoNumber(vm.address)" required="required" class="form-control"/><span data-ng-show="vm.form.number.$dirty &amp;&amp; vm.form.number.$valid" class="form-control-feedback"><i class="fa fa-check"></i></span><span data-ng-show="vm.form.number.$dirty &amp;&amp; vm.form.number.$invalid" class="form-control-feedback"><i class="fa fa-times"></i></span>
      </div>
    </div>
    <div class="col-md-3 col-xs-12">
      <div data-ng-class="{'has-error': vm.form.apt.$dirty &amp;&amp; vm.form.apt.$error.required, 'has-success': vm.form.apt.$dirty &amp;&amp; vm.form.apt.$valid}" class="form-group has-feedback">
        <label for="{{vm.text.apt.name}}" data-ng-bind="vm.text.apt.label" data-ng-show="vm.form.apt.$pristine || vm.form.apt.$valid" class="control-label"></label>
        <input type="text" id="{{vm.text.apt.name}}" name="apt" placeholder="{{vm.text.apt.placeholder}}" data-ng-model="vm.address.apt" class="form-control"/><span data-ng-show="vm.form.apt.$dirty &amp;&amp; vm.form.apt.$valid" class="form-control-feedback"><i class="fa fa-check"></i></span><span data-ng-show="vm.form.apt.$dirty &amp;&amp; vm.form.apt.$invalid" class="form-control-feedback"><i class="fa fa-times"></i></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>
        <ui-gmap-google-map center="vm.address.geopoint" zoom="vm.map.zoom" pan="vm.map.pan">
          <ui-gmap-marker coords="vm.address.geopoint" options="vm.marker.options" events="vm.marker.events" idkey="vm.marker.id"></ui-gmap-marker>
        </ui-gmap-google-map>
      </p>
    </div>
  </div>
</form>