form(class='form')
  .row
    .col-md-4(class='col-xs-12')
      label(class='sr-only' for='{{cdcSearchVm.text.search.name}}' data-ng-bind='cdcSearchVm.text.search.help')
      input(type='text' id='{{cdcSearchVm.text.search.name}}' class='form-control' placeholder='{{cdcSearchVm.text.search.placeholder}}')
