
<form role="form" name="form" novalidate="novalidate" class="form">
  <div class="row">
    <div class="col-md-3 col-xs-12">
      <div data-ng-class="{'has-error': form.name.$dirty &amp;&amp; form.name.$error.required, 'has-success': form.name.$dirty &amp;&amp; form.name.$valid}" class="form-group has-feedback">
        <label for="{{cdcUserVm.text.name.name}}" data-ng-bind="cdcUserVm.text.name.label" data-ng-show="form.name.$pristine || form.name.$valid" class="control-label"></label>
        <label for="{{cdcUserVm.text.name.name}}" data-ng-bind="cdcUserVm.text.name.validation.required" data-ng-show="form.name.$dirty &amp;&amp; form.name.$error.required" class="control-label"></label>
        <input type="text" id="{{cdcUserVm.text.name.name}}" name="name" placeholder="{{cdcUserVm.text.name.placeholder}}" data-ng-model="user.name" required="required" class="form-control"/><span data-ng-show="form.name.$dirty &amp;&amp; form.name.$valid" class="form-control-feedback"><i class="fa fa-check"></i></span><span data-ng-show="form.name.$dirty &amp;&amp; form.name.$invalid" class="form-control-feedback"><i class="fa fa-times"></i></span>
      </div>
    </div>
    <div class="col-md-3 col-xs-12">
      <div data-ng-class="{'has-error': form.last.$dirty &amp;&amp; form.last.$error.required, 'has-success': form.last.$dirty &amp;&amp; form.last.$valid}" class="form-group has-feedback">
        <label for="{{cdcUserVm.text.last.name}}" data-ng-bind="cdcUserVm.text.last.label" data-ng-show="form.last.$pristine || form.last.$valid" class="control-label"></label>
        <label for="{{cdcUserVm.text.last.name}}" data-ng-bind="cdcUserVm.text.last.validation.required" data-ng-show="form.last.$dirty &amp;&amp; form.last.$error.required" class="control-label"></label>
        <input type="text" id="{{cdcUserVm.text.last.name}}" name="last" placeholder="{{cdcUserVm.text.last.placeholder}}" data-ng-model="user.last" required="required" class="form-control"/><span data-ng-show="form.last.$dirty &amp;&amp; form.last.$valid" class="form-control-feedback"><i class="fa fa-check"></i></span><span data-ng-show="form.last.$dirty &amp;&amp; form.last.$invalid" class="form-control-feedback"><i class="fa fa-times"></i></span>
      </div>
    </div>
    <div class="col-md-3 col-xs-12">
      <div data-ng-class="{'has-error': form.username.$dirty &amp;&amp; form.username.$error.required, 'has-success': form.username.$dirty &amp;&amp; form.username.$valid}" class="form-group has-feedback">
        <label for="{{cdcUserVm.text.username.name}}" data-ng-bind="cdcUserVm.text.username.label" data-ng-show="form.username.$pristine || form.username.$valid" class="control-label"></label>
        <label for="{{cdcUserVm.text.username.name}}" data-ng-bind="cdcUserVm.text.username.validation.required" data-ng-show="form.username.$dirty &amp;&amp; form.username.$error.required" class="control-label"></label>
        <input type="text" id="{{cdcUserVm.text.username.name}}" name="username" placeholder="{{cdcUserVm.text.username.placeholder}}" data-ng-model="user.username" required="required" class="form-control"/><span data-ng-show="form.username.$dirty &amp;&amp; form.username.$valid" class="form-control-feedback"><i class="fa fa-check"></i></span><span data-ng-show="form.username.$dirty &amp;&amp; form.username.$invalid" class="form-control-feedback"><i class="fa fa-times"></i></span>
      </div>
    </div>
    <div class="col-md-3 col-xs-12">
      <div data-ng-class="{'has-error': form.email.$dirty &amp;&amp; (form.email.$error.required || form.email.$error.email), 'has-success': form.email.$dirty &amp;&amp; form.email.$valid}" class="form-group has-feedback">
        <label for="{{cdcUserVm.text.email.name}}" data-ng-bind="cdcUserVm.text.email.label" data-ng-show="form.email.$pristine || form.email.$valid" class="control-label"></label>
        <label for="{{cdcUserVm.text.email.name}}" data-ng-bind="cdcUserVm.text.email.validation.required" data-ng-show="form.email.$dirty &amp;&amp; form.email.$error.required" class="control-label"></label>
        <label for="{{cdcUserVm.text.email.name}}" data-ng-bind="cdcUserVm.text.email.validation.invalid" data-ng-show="form.email.$dirty &amp;&amp; form.email.$error.email" class="control-label"></label>
        <input type="email" id="{{cdcUserVm.text.email.name}}" name="email" placeholder="{{cdcUserVm.text.email.placeholder}}" data-ng-model="user.email" required="required" class="form-control"/><span data-ng-show="form.email.$dirty &amp;&amp; form.email.$valid" class="form-control-feedback"><i class="fa fa-check"></i></span><span data-ng-show="form.email.$dirty &amp;&amp; form.email.$invalid" class="form-control-feedback"><i class="fa fa-times"></i></span>
      </div>
    </div>
    <div class="col-md-3 col-xs-12">
      <div data-ng-class="{'has-error': form.mobile.$dirty &amp;&amp; (form.mobile.$error.required || form.mobile.$error.pattern), 'has-success': form.mobile.$dirty &amp;&amp; form.mobile.$valid}" class="form-group has-feedback">
        <label for="{{cdcUserVm.text.mobile.name}}" data-ng-bind="cdcUserVm.text.mobile.label" data-ng-show="form.mobile.$pristine || form.mobile.$valid" class="control-label"></label>
        <label for="{{cdcUserVm.text.mobile.name}}" data-ng-bind="cdcUserVm.text.mobile.validation.required" data-ng-show="form.mobile.$dirty &amp;&amp; form.mobile.$error.required" class="control-label"></label>
        <label for="{{cdcUserVm.text.mobile.name}}" data-ng-bind="cdcUserVm.text.mobile.validation.invalid" data-ng-show="form.mobile.$dirty &amp;&amp; form.mobile.$error.pattern" class="control-label"></label>
        <input type="text" id="{{cdcUserVm.text.mobile.name}}" name="mobile" placeholder="{{cdcUserVm.text.mobile.placeholder}}" maxlength="10" size="10" data-ng-model="user.mobile" data-ng-pattern="/\d{10}/" data-ng-maxlength="10" required="required" class="form-control"/><span data-ng-show="form.mobile.$dirty &amp;&amp; form.mobile.$valid" class="form-control-feedback"><i class="fa fa-check"></i></span><span data-ng-show="form.mobile.$dirty &amp;&amp; form.mobile.$invalid" class="form-control-feedback"><i class="fa fa-times"></i></span>
      </div>
    </div>
  </div>
</form>