.footer(class='visible-xs')
  .container-fluid
    .row
      .col-xs-4(class='text-center')
        a(href='#/')
          i(class='fa fa-user fa-2x')
      .col-xs-4(class='text-center')
        a(href='#/')
          i(class='fa fa-shopping-cart fa-2x')
      .col-xs-4(class='text-center')
        a(href='#/')
          i(class='fa fa-life-saver fa-2x')
