
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h1 data-ng-bind="vm.text.heading" class="page-header"></h1>
    </div>
  </div>
  <div data-ng-hide="vm.editable" class="row">
    <div class="col-md-1">
      <p>
        <button type="button" data-ng-bind="vm.text.actions.add.label" data-ng-click="vm.toggleEditable()" class="btn btn-primary btn-block"></button>
      </p>
    </div>
  </div>
  <cdc-user user="vm.user" form="vm.form" data-ng-show="vm.editable"></cdc-user>
  <div data-ng-show="vm.editable" class="row">
    <div class="col-md-1">
      <p>
        <button type="button" data-ng-bind="vm.text.actions.cancel.label" data-ng-click="vm.cancel()" class="btn btn-danger btn-block"></button>
      </p>
    </div>
    <div class="col-md-1">
      <p>
        <button type="button" data-ng-disabled="vm.form.$invalid" data-ng-bind="vm.text.actions.save.label" data-ng-click="vm.save(vm.user)" class="btn btn-success btn-block"></button>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th data-ng-bind="vm.text.headers.number.label"></th>
              <th data-ng-bind="vm.text.headers.name.label"></th>
              <th data-ng-bind="vm.text.headers.last.label"></th>
              <th data-ng-bind="vm.text.headers.username.label"></th>
              <th data-ng-bind="vm.text.headers.email.label"></th>
              <th data-ng-bind="vm.text.headers.mobile.label"></th>
              <th data-ng-bind="vm.text.headers.actions.label"></th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="u in vm.users">
              <td data-ng-bind="$index"></td>
              <td data-ng-bind="u.name"></td>
              <td data-ng-bind="u.last"></td>
              <td data-ng-bind="u.username"></td>
              <td data-ng-bind="u.email"></td>
              <td data-ng-bind="u.mobile"></td>
              <td>
                <div class="btn-group">
                  <button type="button" data-ng-disabled="vm.editable" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><i data-ng-class="vm.text.actions.actions.icon">&nbsp</i>{{vm.text.actions.actions.label}}&nbsp<span class="fa fa-caret-down"></span></button>
                  <ul role="menu" class="dropdown-menu">
                    <li><a href="#" data-ng-click="vm.edit(u)"><i data-ng-class="vm.text.actions.edit.icon">&nbsp</i>{{vm.text.actions.edit.label}}</a></li>
                    <li><a href="#" data-ng-click="vm.destroy(u)"><i data-ng-class="vm.text.actions.destroy.icon">&nbsp</i>{{vm.text.actions.destroy.label}}</a></li>
                    <li><a href="#" data-ng-click="vm.reset(u)"><i data-ng-class="vm.text.actions.reset.icon">&nbsp</i>{{vm.text.actions.reset.label}}</a></li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>