.container-fluid
  .row
    div(class='col-xs-6 col-sm-3 col-md-2 sidebar' data-ng-class='{\'col-xs-pull-12 col-sm-pull-12 col-md-pull-12\': !active}')
      ul(class='nav nav-sidebar')
        li.active
          a(href='#/') Overview
            span(class='sr-only')
        li
          a(href='#/') Reports
        li
          a(href='#/') Analytics
